1.Write a program to count the total number of notes in a given amount. Valid notes:10, 20, 50, 100, 500, 2000 eg : amount 2510, expected output is 2000=1,500=1,10=1

2.Write a program to implement an algorithm which will accept a string of characters and should find the highest occurrence of the character and display it.
For example, if the input is "aaaaaaaabbbcddddeeee" it should return "a".

3.Given a list of N integers. The task is to eliminate the minimum number of elements such that in the resulting list the sum of any two adjacent values is even.

numbers = [1, 3, 5, 4, 2]
output = [1, 3, 5] Total elements removed 2

4.Given a dictionary that associates the names of states with a list of the names of cities that appear in it,write a program that creates a new dictionary that associates the name of a city with the list of states that it appears in.
As an example, if the first dictionary is

Input :
states = {'New Hampshire': ['Concord', 'Hanover'],

'Massachusetts': ['Boston', 'Concord', 'Springfield'],

'Illinois': ['Chicago', 'Springfield', 'Peoria']
}

Output:
cities = {'Hanover': ['New Hampshire'],

'Chicago': ['Illinois'],'Boston': ['Massachusetts'], 

'Peoria': ['Illinois'],'Concord': ['New Hampshire','Massachusetts'],

'Springfield': ['Massachusetts', 'Illinois']
}

5.Consider a data, where the name of the restaurant, the type of restaurant, and the ratings are provided. Assume these values have already been read into a list of lists of the form below:
restaurants = [ [ Acme, Italian, 2, 4, 3, 5],[ Flintstone, Steak, 5, 2, 4, 3, 3, 4],[ Bella Troy, Italian, 1, 4, 5] ]

Write a program code that prints all Italian restaurants in the restaurants list that have no ratings of value 1 and at least one rating of value 5.

In the above example, Acme would be printed in the output, but Flintstone and Bella Troy would not. Flintstone is not Italian and Bella Troy has a 1 rating.

6.In the pre-smartphone era,each number key is assigned a subset of the alphabet {a,b,â€¦,z}: 2 is assigned the subset {a,b,c}, 3 is assigned {d,e,f}, 4 is assigned {g,h,i}, 5 is assigned {j,k,l}, 6 is assigned {m,n,o}, 7 is assigned {p,q,r,s}, 8 is assigned {t,u,v} and 9 is assigned {w,x,y,z}.

Write a program to find the characters generated using key 9999335533 output should be "zeke"