In [ ]:
deco 
iterators __iter__ __next__
    islice(i,0,8) 
    per(l,2)
    com
    repeat("python") 
    cycle("python")
    chain 
    count 
    
map filter lambda 
map(func,iterable obj)
filter(func,ietrable obj) => True 
gen => yield 
web scraping
    requests=> URL
    bs => parse resonse 
        find(tag,attrs={""})
        l = <a href="www.google.com">Click here</a>
        l.get("href")
csv file parsing 
  
        reader
        writer 
        DictReader
        DictWriter 
        
        writer_obj.writerow([])
        writer_obj.writerows([[],[],[]])
        
        reader 
        for 
            
        next()

In [ ]:
Dict :
    d[key] = value 
    d.setdault("key","value")
    
    update:
        d['key'] = new_value
        
    delete:
        del 
        clear
        pop 
        popitem
        
        
List:
    add:
        append
        extend
        insert 
        
    Update 
        l[index] = value
        
    Delete:
        pop
        remove 
        del 
        clear 
        
        
Str :
    upper lower title capitalize 
    isupper islower istitle 
    
    isaplha isalnum isdigit isspace
    
    strip lstrip rstrip 
    
    center ljust rjust 
    
    count find index rfind rindex replace 
    
    split join 
    
    format

In [ ]:
Object Oriented Programming :
    
Class 

Object

In [ ]:
Paytm :
    phoneno 
    password 
    KYC 
    email 
    
    recharge
    add money to wallet 
    book tickets 
    
user1 
user2

In [ ]:
Emp:
    emp_id 
    name
    email
    contact 

    get_details 
    cal_sal 
    change_dept

In [14]:
class Emp:
    count = 0
    emps = []
    
    
    @classmethod  
    def incr_count(cls):
        cls.count+=1
        
    @classmethod
    def add_emp(cls,obj):
        cls.emps.append(obj)
        
    @staticmethod
    def printVal(num1,num2):        
        print(num1 + num2)    
    
    def __init__(self,id,name,email,contact):
        self.id = id
        self.name = name
        self.email = email
        self.contact = contact
        Emp.incr_count()
        Emp.add_emp(self)
        
    def set_dept(self,dept_name):
        self.dept = dept_name
        
    def set_sal(self,sal):
        self.sal = sal
        
    def incr_sal(self,per):
        self.sal = self.sal + (self.sal * per)/100 
    
    def __str__(self):
        return "{} {} {}".format(self.id,self.name,self.email)
    
#     def __add__(self):
#         return self.name 
    
print(Emp.count)
emp1 = Emp(101,"ABC","abc@xyz.com","7123456789")
print(emp1.id,emp1.name,emp1.email)
emp2 = Emp(102,"PQR","pqr@xyz.com","7123456787")
emp3 = Emp(103,"XYZ","pqr@xyz.com","7123456787")
emp4 = Emp(104,"RST","pqr@xyz.com","7123456787")

print(Emp.count)
emp1.set_dept("HR")
emp2.set_dept("Admin")
emp3.set_dept("HR")
emp4.set_dept("HR")


emp1.set_sal(40000)
emp2.set_sal(65000)
emp3.set_sal(70000)
emp4.set_sal(70000)

print(emp1.__dict__)
emp1.incr_sal(30)
print(emp1.__dict__)

emps = [emp1,emp2,emp3,emp4]
for emp in emps:
    if emp.sal > 50000 and emp.dept == "HR":
        print(emp)

# Sal > 50K and dept is HR
print("========Class Variable=======")
# print(Emp.x)
# print(emp1.x)

# print(emp1.__dict__)
# emp1.x = 500 
# print(emp1.__dict__)

# print(Emp.x)
# print(emp1.x)

# print(Emp.emps)
# print(emp1 + emp2)
Emp.printVal(emp1.name,emp2.name)

0
101 ABC abc@xyz.com
4
{'id': 101, 'name': 'ABC', 'email': 'abc@xyz.com', 'contact': '7123456789', 'dept': 'HR', 'sal': 40000}
{'id': 101, 'name': 'ABC', 'email': 'abc@xyz.com', 'contact': '7123456789', 'dept': 'HR', 'sal': 52000.0}
101 ABC abc@xyz.com
103 XYZ pqr@xyz.com
104 RST pqr@xyz.com
========Class Variable=======
ABCPQR

In [ ]:
User:
    id 
    first_name
    last_name
    email
    password 
    
Profile 
    act no
    adhacontr
    linkein link

In [40]:
class User:
    def __init__(self,id,name,email,password):
        self.id = id
        self.name = name
        self.email = email
        self.password = password

    def get_name(self):
        return self.name
    
    def get_id(self):
        return self.id
    
    def set_name(self,name):
        self.name = name
    
    def get_details(self):
        return "{} {}".format(self.id,self.name)
    
class Admin:
    def get_details(self):
        return "Str from admin method"
    
class Profile(Admin,User):
    def __init__(self,id,name,email,password,contact,linkedin):
        super().__init__(id,name,email,password)
        self.contact = contact
        self.linkedin = linkedin
        
    def get_details(self):
        name_details = User.get_details(self)
        return "{} {} {}".format(name_details,self.contact,self.linkedin)
        
u = User(1,"ABC","abc@xyz.com","test@123")

# print(u.__name)
# print(User.__name)
p1 = Profile(1,"ABC","abc@xyz.com","test@123","9123456789","www.linkedin.com/abc")
print(p1.get_details())
# help(p1)

# depth first left to rigth
# User Admin
#    Profile

1 ABC 9123456789 www.linkedin.com/abc

In [27]:
def printVal(*args):
    print(num1+num2)
    
def printVal(num1,num2,num3):
    print(num1+num2+num3)
    
printVal(10,20)
printVal(10,20,30)

TypeError: printVal() missing 1 required positional argument: 'num3'

In [ ]:
method overriding

In [ ]:
Course 
    c_id 
    c_name 
    c_author
    c_category

Tutorial
    t_id
    t_name
    t_content
    t_course = Object of class course 
    
    
All the tutorials of author ABC
Courses and total no of tutorails in them 
    "Python" 5 
    "ML" 10

In [10]:
class Course:
    courses = []
    def __init__(self,id,name,auth,cat): 
        self.c_id = id 
        self.c_name = name
        self.c_author= auth
        self.c_category = cat
        Course.courses.append(self)

class Tutorial:
    tuts = []
    def __init__(self,id,name,content,course):
        self.t_id = id
        self.t_name = name
        self.t_content = content
        self.t_course = course
        Tutorial.tuts.append(self)
        
course1 = Course(1,"Python","ABC","Programming")
course2 = Course(2,"Machin Learning","PQR","Programming")
course3 = Course(3,"DevOps","ABC","Programming")

tut1 = Tutorial(101,"Loops","looping stmt",course1)
tut2 = Tutorial(102,"list","looping stmt",course1)
tut3 = Tutorial(103,"DevOps Principles","DevOps",course3)

for tut in Tutorial.tuts:
    if tut.t_course.c_author == "ABC":
        print(tut.t_name,tut.t_content)

tut_count = {}        
for tut in Tutorial.tuts:
    if tut.t_course.c_name in tut_count:
        tut_count[tut.t_course.c_name] +=1
    else:
        tut_count[tut.t_course.c_name] =1
print(tut_count)

Loops looping stmt
list looping stmt
DevOps Principles DevOps
{'Python': 2, 'DevOps': 1}

In [ ]:
# from abc import ABC
# from abc import AbstactMethod
class User:
    def get_details(self):
        pass

In [ ]:
Exception Handling:

In [ ]:
syntax error 
logical errors
    index error 
    key error 
    Unsupported operation

In [41]:
l = [10,20,30]
print(l[100])

IndexError: list index out of range

In [42]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [55]:
class ValueLessThan50(Exception):
    pass

a = 20
try:
#     if a < 50:
#         raise ValueLessThan50("Value of variable is less than 50")    
    l = [10,20,30,40,50]
#     l = l[100]
except IndexError as e:
    print("Invalid index",e)
except NameError:
    print("Varibale not defined")
except ValueLessThan50 as e:
    print("User defined exception raised",e)
except Exception as e:
    print("Something went wrong",e)
else:
    print("No exception raised")
finally:
    print("This statement will always get exceuted ")
print("Statement after try and except")

No exception raised
This statement will always get exceuted
Statement after try and except

In [ ]:
raise

In [ ]:
Exception

In [ ]:
Relational => oracle,mysql,postgres,sqlite,db2
db:
    table1
    Columns => id int , name varchar,email varchar  
    1,"abc",'abc@gmail.com'
    table2

Non relational => MongoDB,Cassandra
db :
    collections 
    {
        "name":"ABC"
        "email":"abc@gmail.com"
    }
    
    {
        "name":"ABC"
        "email":"abc@gmail.com"
        "contact" :"9123456788"
    }

In [ ]:
Data API 2.0

In [ ]:
connect()
    host =""
    database = ""
    user = ""
    password =""
close()
execute(""" """)

In [1]:
import psycopg2
conn= psycopg2.connect(user ="postgres",password="test@123",host="localhost",database="emp",port=5432)
print(conn)

<connection object at 0x000001D53B487990; dsn: 'user=postgres password=xxx dbname=emp host=localhost port=5432', closed: 0>

In [3]:
cur = conn.cursor()
print(cur)

<cursor object at 0x000001D53B09B128; closed: 0>

In [80]:
cur.execute("""CREATE TABLE EMP2(ID INT,NAME VARCHAR(32),EMAIL VARCHAR(32));""")

In [7]:
cur.execute("""INSERT INTO EMP1(ID,NAME,EMAIL) VALUES (101,'ABC','abc@xyz.com');""")

ProgrammingError: relation "emp1" does not exist
LINE 1: INSERT INTO EMP1(ID,NAME,EMAIL) VALUES (101,'ABC','abc@xyz.c...
                    ^

In [6]:
conn.rollback()

In [1]:
import sqlite3
conn = sqlite3.connect(database = "test_db.db")
cur = conn.cursor()

In [19]:
cur.execute("""CREATE TABLE IF NOT EXISTS EMP(ID INT,NAME VARCHAR2(32),EMAIL VARCHAR2(32)) """)

In [5]:
cur.execute("""INSERT INTO EMP(ID,NAME,EMAIL) VALUES (101,'ABC','abc@xyz.com')""")

In [6]:
cur.execute("""INSERT INTO EMP(ID,NAME,EMAIL) VALUES (102,'XYZ','xyz@xyz.com')""")

In [7]:
conn.commit()

In [8]:
cur.execute("SELECT * FROM EMP")

In [9]:
print(cur)
print(next(cur))

<sqlite3.Cursor object at 0x00000282FD10C880>
(101, 'ABC', 'abc@xyz.com')

In [10]:
print(next(cur))

(102, 'XYZ', 'xyz@xyz.com')

In [11]:
cur.execute("SELECT * FROM EMP")
print(cur.fetchone())

(101, 'ABC', 'abc@xyz.com')

In [12]:
cur.execute("SELECT * FROM EMP")
print(cur.fetchall())

[(101, 'ABC', 'abc@xyz.com'), (102, 'XYZ', 'xyz@xyz.com')]

In [13]:
cur.execute(""" UPDATE EMP SET NAME='RST' WHERE ID =102 """)
conn.commit()

In [14]:
cur.execute(""" SELECT * FROM EMP WHERE ID = 102""")
print(next(cur))

(102, 'RST', 'xyz@xyz.com')

In [15]:
cur.execute(""" DELETE FROM EMP WHERE ID =102""")

In [16]:
cur.execute("SELECT * FROM EMP")
print(cur.fetchall())

[(101, 'ABC', 'abc@xyz.com')]

In [ ]:
Connection=> connect 
             commit 
             create cursor 
             rollback
            
Cursor

In [ ]:
SQL => Structured Query Languages
MySQL 
Oracle 
DB2